body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color:#fff;
  font-family: 'IBM Plex Sans', sans-serif;

}
* { 
	color:#fff;
 	text-decoration: none;
}
*{
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  width: 100%;
  font-family: 'Didact Gothic', sans-serif;

}
.header{
  width: 100%;
  height:50px;
}
.header-inner{
  font-size: 1.4em;
  font-family: 'Cabin Sketch', cursive;
  position: relative;
}
section h1{
  text-align: center;
}

#nav__bar{
  text-decoration:none;
  color:#fff;
}

ul{
  list-style:none;
  color:#fff;
}

.typewrite-wrapper {
  height: 50px; 
}

/* ---- particles.js container ---- */ 
#particles-js{ 
  position:fixed; 
  z-index:-1;
  width: 100%; 
  height:100%;
  background-color: #00174f; 
} 

/* NAV BAR*/
.nav {
  width: 100%;
  text-align:center; 
  position: relative;
  z-index: 1;
  padding-left:20px;
}

.item-1{
  margin-left:10px;
}

.item {
  box-sizing: border-box;
  display: inline-block;
  margin-right:60px;
  line-height: 24px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 1.2em;
}

nav a{
	text-decoration: none;
	color: #FFF;
	text-shadow: #FFF 0 0 10px;
}

#home{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding-top: 130px;
}

.pic{
  border:none;
  height:180px;
  width:240px;
  transform:          rotate(90deg);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
  border-radius: 12px;
  margin-bottom: 50px;
  margin-top:30px;
}

hr{ 
    display: block;
    margin-top: 80px;
    margin-bottom: 0.5em;
    margin-right: 10vw;
    margin-left: 10vw;
    border-style: inset;
    border-width: 1.5px;
 }

#about-me{
  width: 100%;
  /* background-color:#000; */
  padding-left:100px;
  padding-right: 100px;
  padding-top:50px;
  position: relative;
  display: inline-block;
  text-align: justify;
  line-height: 50px;
  font-size: 1.1em;
  font-family: 'IBM Plex Sans', sans-serif;
  text-shadow: #FFF 0 0 5px;
}

.about-me{
  padding-top:50px;
}

.about-heading{
  font-size: 1.6em;
  font-family: 'Montserrat', sans-serif;
}

#projects{
  width:100%;
  height:auto;
  font-family: 'Didact Gothic', sans-serif;
}

.project-heading{
  font-size: 2em;
  text-align:center;
  padding-bottom: 50px;
  padding-top: 50px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  
}

.flex-container>div {
  text-align: center;  
  font-size: 1.3em;
  margin-bottom: 50px;
}

div.gallery {
    position:relative;   
    border: 2px solid #777;
    width: 200px;
    height:300px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
}

div.gallery:hover {
    border: 2px solid #ccc;
    color:#000;
}

div.gallery img {
    width: 100%;
    height: 150px;
}

div.desc {
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    /* color:#000; */
    font-family: 'Montserrat', sans-serif;
}

/* GET IN TOUCH */
#get-in-touch{
  font-size: 2em;
  font-family: 'Montserrat', sans-serif;
  width:100%;
  margin-left: auto;
  margin-right: auto;
  padding-top:30px;
}

.get-in-touch{
  text-align: center;
}

.social {
  position: relative;
  width: 100%;
  top: 50%;
  text-align: center;
  padding-top: 100px;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: transparent;
  color: white;
  text-shadow: #FFF 0 0 3px;
}

.social .link.twitter {
  background-color: transparent;
  color: white;
  text-shadow: #FFF 0 0 3px;
}

.social .link.facebook {
  background-color: transparent;
  color: white;
  text-shadow: #FFF 0 0 3px;
}




