body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

* { 
	color: #fff;
 	text-decoration: none;
  scroll-behavior: smooth;
}

h1 , h3{
  margin: 0; 
}

header, nav, footer, section, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

main {
  width: 100%;
}

hr{ 
    display: block;
    margin-top: 50px;
    margin-bottom: 0.5em;
    margin-right: 10vw;
    margin-left: 10vw;
    border-style: solid;
    border-width: 1.5px;
 }

/* Header */
.header{
  width: 100%;
  height: 50px;
}
.header-inner{
  font-size: 1.4em;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 10;
  text-align: center;
}


/* type writer effect */
.typewrite-wrapper {
  height: 50px; 
}

/* ---- particles.js container ---- */ 
#particles-js{
  width: 100%; 
  height:100%; 
  position: fixed; 
  z-index: -1;
  background-image: radial-gradient(circle, #072b5b, #05234e, #031a41, #011235, #000529); 
} 

/* NAV BAR*/
.nav {
  width: 100%;
  text-align: center; 
  position: relative;
  z-index: 1;
  padding-left: 20px;
}

#nav__bar{
  text-decoration: none;
  color: #fff;
}

nav a{
  text-decoration: none;
  color: #FFF;
  text-shadow: #FFF 0 0 10px;
}

.item {
  box-sizing: border-box;
  display: inline-block;
  margin-right:60px;
  line-height: 24px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 1.2em;
  font-family: 'Montserrat', sans-serif;
}

/* Home Section */
#home{
  width: 100%;
  height: auto;
  position: relative;
  text-align: center;
  padding-top: 100px;
}

.pic{
  height:180px;
  width: 240px;
  transform:          rotate(270deg);
  -ms-transform:      rotate(270deg);
  -moz-transform:     rotate(270deg);
  -webkit-transform:  rotate(270deg);
  -o-transform:       rotate(270deg);
  border-radius: 12px;
  margin-bottom: 50px;
  margin-top: 30px;
}

/* About Me section */
#about-me{
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  position: relative;
  display: inline-block;
  text-align: justify;
  line-height: 50px;
  font-size: 1.1em;
  font-family: 'Montserrat', sans-serif;
  text-shadow: #FFF 0 0 5px;
}

.about-me{
  padding-top: 50px; 
}

.about-heading{
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  text-shadow: #FFF 0 0 5px;
}

/* Projects Section */
#projects{
  width: 100%;
  height: auto;
  font-family: 'Montserrat', sans-serif;
}

.project-heading{
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
  padding-top: 50px;
  text-shadow: #FFF 0 0 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 30px;
  
}

.flex-container>div {
  text-align: center;  
  font-size: 1.3em;
  margin-bottom: 50px;
}

div.gallery {
    position: relative;   
    border: 2px solid #777;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    text-shadow: #FFF 0 0 5px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
}

div.gallery:hover {
    border: 2px solid #ccc;
    color: #000;
}

div.gallery img {
    width: 100%;
    height: 150px;
}

div.desc {
    padding: 15px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

/* GET IN TOUCH  Section*/
#get-in-touch{
  width: 100%;
  font-size: 2em;
  font-family: 'Montserrat', sans-serif; 
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.get-in-touch{
  height: 100px;
  text-align: center;
  margin-bottom: 20px;
}

.social {
  width: 100%;
  position: relative;
  text-align: center;
  padding-top: 100px;
  transform: translateY(-50%);
}

.social .link {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px dashed white;
  background-clip: content-box;
  padding: 10px;
  transition: .5s;
  color: #D7D0BE;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 30px;
}

.social .link span {
  display: block;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.social .link:hover {
  padding: 20px;
  color: white;
  margin-left: -5px;
  transform: translateX(10px) rotate(360deg);
}

.social .link.google-plus {
  background-color: transparent;
  color: white;
  text-shadow: #FFF 0 0 3px;
}

.social .link.twitter {
  background-color: transparent;
  color: white;
  text-shadow: #FFF 0 0 3px;
}

.social .link.facebook {
  background-color: transparent;
  color: white;
  text-shadow: #FFF 0 0 3px;
}
/* Footer Section */
#footer{
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 10;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 15px;
  font-family: 'Montserrat', sans-serif;
}
.heart{
  color: #e50000;
}





