body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  color:#fff;
}
* { 
	color:#fff;
 	text-decoration: none;

}

h1, h2, h3, h4, h5 {
  margin: 0; 
}

header, nav, footer, section, article, div {
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
main {
  width: 100%;

}

#nav__bar{
  text-decoration:none;
  color:#fff;
}
ul{
  list-style:none;
  color:#fff;
}
.typewrite-wrapper {
  height: 50px; 
}

/* ---- particles.js container ---- */ 
#particles-js{ 
  position:fixed; 
  z-index:-1;
  width: 100vw; 
  height:100vh;
  background-color: #00174f; 

} 

/* NAV BAR*/
.nav {
  width: 100%;
  text-align:center; 
  position: absolute;
}

.nav__list {
  width: 100%;
}

.item {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  margin-left:60px;
  line-height: 24px;
  padding-top: 20px;
  font-weight: 500;
  font-size: 1.2em;
  font-family: 'Jura', sans-serif;;
}

nav a{
	text-decoration: none;
	color: #FFF;
	text-shadow: #FFF 0 0 10px;
}
#home{
  position:relative;
  text-align: center;
  padding-top:130px;
  width:100%;
  height:100%;
}
.pic{
  border:none;
  height:180px;
  width:240px;
  transform:          rotate(90deg);
  -ms-transform:      rotate(90deg);
  -moz-transform:     rotate(90deg);
  -webkit-transform:  rotate(90deg);
  -o-transform:       rotate(90deg);
  border-radius: 10px;
  margin-bottom: 100px;
  margin-top:100px;
}
hr { 
    display: block;
    margin-top:80px;
    margin-bottom: 0.5em;
    margin-right:100px;
    margin-left:100px;
    border-style: inset;
    border-width: 1.5px;
}
#about-me{
  width: 80%;
  /* background-color:#000; */
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  position: absolute;
  padding-top:150px;

  display: inline-block;
  font-size: 1.2em;
  font-family: 'Ubuntu', sans-serif;
}
.about-heading{
  font-size: 1.6em;
  text-align:center;
}

#projects{
  width:100%;
  height:500px;
  padding-top:00px;

  font-family: 'Ubuntu', sans-serif;
}
.project-heading{
  font-size: 2em;
  text-align:center;
 
}

.grid-container {
  display: grid;
  width:50vw;
 
  grid-template-columns: auto auto;
  grid-auto-rows: auto auto;
  align-items: center;
}
.grid-container>div {
  text-align: center;  
  font-size: 30px;
}

div.gallery {
    position:relative;
    
    border: 2px solid #777;
    margin-right:50px;
    margin-bottom:80px;
    width: 200px;
    height:300px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    -webkit-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 55px -19px rgba(0,0,0,0.75);
}

div.gallery:hover {
    border: 2px solid #ccc;
    color:#000;
}

div.gallery img {
    width: 100%;
    height: 150px;
}

div.desc {
    padding: 15px;
    text-align: center;
    /* color:#000; */
    font-family: 'Ubuntu', sans-serif;
}

/* GET IN TOUCH */
.get-in-touch{
  width:50%;
  margin-left: auto;
  margin-right: auto
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border: none;
  border-radius: 50px;
  position: relative;
  z-index: 11;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}



