.content{
	display: flex;
	flex-wrap: wrap;
}
.nav__menu {
  	display: none;
}

@media screen and (max-width: 785px){
	.item{
		font-size: 1em;
		margin-right: 40px;
	}
	.header-inner{
		font-size: 1.3em;
	}
	.about-heading{
		font-size: 30px;
	}
	.project-heading{
		font-size: 30px;
	}
}
@media screen and (max-width: 650px){
	.item{
		font-size: 0.9em;
	}
    .header-inner{
		font-size: 1em;

	}
	.logo{
		height:35px;
		width: 45px;
	}
}
@media screen and (max-width: 595px){
	#about-me{
		font-size: 15px;
		padding-left: 20px;
		padding-right: 20px;
	}
	header h2{
		padding-left: 70px;
	}
	.nav {
    	z-index: 100;
		background-image: linear-gradient(to right, #133567, #0c4878, #0a5b87, #156e95, #2781a1);    	width: 200px;
    	position: absolute;
    	-webkit-transform: translate(-300px, 0px);
    	transform: translate(-300px, 0px);
    	transition: transform 0.5s ease;
    	border-radius: 5px;
 	}
    .nav.open {
    	-webkit-transform: translate(0, 10px);
    	transform: translate(0, 10px);
  	}

  	.item {
   		display: list-item;
   	 	border-bottom: 1px solid #E0E0E0;
   	 	width: 80%;
    	text-align: center;
    	color: #000;
    }
  	.item-4{
  		border-bottom: none;
  		margin-bottom: 5px;
    }

   	.nav__menu {
    	display: inline-block;
    	position: relative;
		padding-bottom: 1em;
    	padding-right: 0em;
    	padding-left: 1em;
    	padding-top: 0em;
    	height: 7px;
    }
  	.nav__menu svg {
    	width: 48px;
    	height: 40px;
    	fill: #E0E0E0;
    	float: right;
    }
	.svg{
		position: absolute;
		margin-right: 10px;
    }
    .logo{
    	float: right;
    	padding-right: 30px;
    	padding-top: 0px;
    }
}
@media screen and (max-width: 470px){
	.header-inner{
		font-size: 0.9em;
	}
	header h2{
		padding-top: 5px;
	}
}
@media screen and (max-width: 380px){
	.header-inner{
		padding-top: 20px;
		font-size: 0.8em;
	}
	header h2{
		padding-top: 10px;
	}	
	.logo{
		height: 30px;
		width: 40px;
	}
	#get-in-touch{
		font-size: 1em;
	}
}