.content{
	display:flex;
	flex-wrap: wrap;
}
.nav__menu {
  display: none;
}

@media screen and (max-width: 750px){
	.item{
		font-size: 1em;
		margin-right: 40px;
	}
	#about-me{
		font-size: 1em;
	}
	.about-heading{
		font-size: 1.4em;
	}
}
@media screen and (max-width:550px){
	#about-me{
		font-size: 0.7em;
		padding-left: 30px;
		padding-right: 30px;
	}
}
@media screen and (max-width: 550px){
	.nav {
    	z-index: 10;
    	background-color: transparent;
    	width: 300px;
    	position:absolute;
    	/* This trasform moves the drawer off canvas. */
    	-webkit-transform: translate(-300px, 0px);
    	transform: translate(-300px, 0px);
    	/* Optionally, we animate the drawer. */
    	transition: transform 0.5s ease;
 	 }
    .nav.open {
    	-webkit-transform: translate(0, 0);
    	transform: translate(0, 0);
  	}
  	.item {
   		display: list-item;
   	 	border-bottom: 1px solid #E0E0E0;
   	 	width: 80%;
    	text-align: center;
    	color: #000;
  }
  	.item-1{
  		margin-left: 0px;
  }
   	.nav__menu {
    	display: inline-block;
    	position: relative;
		padding-bottom: 1em;
    	padding-right: 0em;
    	padding-left: 1em;
  }
  	.nav__menu svg {
    	width: 48px;
    	height: 30px;
    	fill: #E0E0E0;
}
.svg{
	position: absolute;
	margin-top: 0px;
}

@media screen and (max-width: 470px){
	.header-inner{
		font-size: 1.1em;
	}
}
@media screen and (max-width: 350px){
	.header-inner{
		padding-top: 10px;
		font-size: 0.9em;
	}	
}